{% extends 'system/layout.html'%}
{% load static %}

{% block title %}
{{title}}
{% endblock%}

{% block css %}
{% endblock%}

{% block content %}


<!-- /////////////////////////////////////////////////////////// -->
<div class="wheel-collection wheel-bg2">
    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-header text-center marg-lg-t100 marg-lg-b150  marg-md-t50 marg-md-b100 ">
                    <h5>We have multiple </h5>
                    <h3><span>Showrooms</span></h3>
                </div>
            </div>
        </div>


        {% if "Success" in message %}
        <div class="alert alert-success" role="alert">{{message}}</div>
        {% elif "Error" in message %}
        <div class="alert alert-danger" role="alert">{{message}}</div>
        {% endif %}


        <div class="container no-padding">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive wheel-cart text-center padd-lr0">
                        <table class="wheel-table-cart marg-lg-t10 marg-lg-b10 marg-md-t10 marg-sm-t0 marg-xs-t0">
                            <thead>
                                <tr>
                                    <th style="width:20%">ID</th>
                                    <th style="text-align:left">Name</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for showroom in showrooms%}
                                <tr>
                                    <td style="width:100px">{{showroom.id}}</td>
                                    <td style="text-align:left">{{showroom.name}}</td>
                                    <td>{{showroom.address}}</td>
                                    <td>{{showroom.contact}}</td>

                                    <!-- <td>
                                        <a href="{% url 'all_cars'%} " class="wheel-btn">Select</a>
                                    </td> -->
                                    <td>
                                        <form action="all_cars" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="showroom_cars" value="{{showroom.id}}">
                                            <input class="wheel-btn" type="submit" value="Select">
                                        </form>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock%}

    {% block js %}

    {% endblock%}