{% extends 'system/layout.html'%}
{% load static %}

{% block title %}
{{title}}
{% endblock%}

{% block css %}
{% endblock%}

{% block content %}


<!-- /////////////////////////////////////////////////////////// -->
<div class="wheel-collection wheel-bg2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-header text-center marg-lg-t100 marg-lg-b150  marg-md-t50 marg-md-b100 ">
                    <h5>We have multiple </h5>
                    <h3><span>Showrooms</span></h3>
                </div>
            </div>
        </div>


        {% if message %}
        {% if message == "Success" %}
        <div class="alert alert-success" role="alert">{{message}}</div>
        {% elif "Error" in message %}
        <div class="alert alert-danger" role="alert">{{message}}</div>
        {% endif %}
        {% endif %}

        {% for showroom in showrooms%}
        <div class="container no-padding">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive wheel-cart padd-l0 padd-r0">
                        <table class="wheel-table-cart marg-lg-t140 marg-lg-b140 marg-md-t100 marg-sm-t80 marg-xs-t60">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{showroom.id}}</td>
                                    <td>{{showroom.name}}</td>
                                    <td>{{showroom.address}}</td>
                                    <td>{{showroom.contact}}</td>
                                    <td>
                                        <a href="{% url 'search_car'%} " class="wheel-btn">Select</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {% endblock%}

    {% block js %}
    
    {% endblock%}