<div class="wheel-clients">
    <div class="container padd-lr0">
        <div class="row">
            <div class="col-md-4 padd-r0 padd-md-lr15">
                <div class="wheel-service-item text-center wheel-bg3">
                    <div class="wheel-service-logo">
                        <img src="{% static 'images/ico1.png' %}" alt="">
                    </div>
                    <h5>Most Affordable</h5>
                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
                </div>
            </div>
            <div class="col-md-4 padd-lr0 padd-md-lr15">
                <div class="wheel-service-item text-center wheel-service-active wheel-bg4">
                    <div class="wheel-service-logo">
                        <img src="{% static 'images/ico2.png' %}" alt="">
                    </div>
                    <h5>Best Rated</h5>
                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
                </div>
            </div>
            <div class="col-md-4 padd-l0 padd-md-lr15">
                <div class="wheel-service-item  text-center wheel-bg5">
                    <div class="wheel-service-logo">
                        <img src="{% static 'images/ico3.png' %}" alt="">
                    </div>
                    <h5>Excellent Service</h5>
                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="wheel-service-img">
                <img src="{% static 'images/i1.png' %}" alt="" class="wheel-img">
            </div>
        </div>
    </div>
</div>



<!-- /////////////////////////////// -->
<div class="wheel-subscribe wheel-bg2">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 padd-lr0">
                <div class="wheel-header">
                    <h5>Newsletter Signup </h5>
                    <h3>Subscribe & get<span> 20% </span> Off</h3>
                </div>
            </div>
            <div class="col-md-6 padd-lr0">
                <form action="#">
                    <input type="text" placeholder="Your Email Adddress">
                    <button class="wheel-btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- //////////////////////////////////////////// -->
<div class="wheel-quote text-center">
    <img src="images/bg3.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="swiper-container" data-autoplay="7000" data-touch="1" data-mouse="0" data-xs-slides="1"
                    data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="1"
                    data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="wheel-quote-item">
                                <div class="wheel-quote-logo"><img src="images/l2.png" alt=""></div>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                                    bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
                                    sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                    velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                                <div class="wheel-quote-stars"><img src="images/stars.png" alt=""></div>
                                <h6>Catrina Romero</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wheel-quote-item">
                                <div class="wheel-quote-logo"><img src="images/l2.png" alt=""></div>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                                    bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
                                    sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                    velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                                <div class="wheel-quote-stars"><img src="images/stars.png" alt=""></div>
                                <h6>Catrina Romero</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wheel-quote-item">
                                <div class="wheel-quote-logo"><img src="images/l2.png" alt=""></div>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                                    bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
                                    sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                    velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                                <div class="wheel-quote-stars"><img src="images/stars.png" alt=""></div>
                                <h6>Catrina Romero</h6>
                            </div>
                        </div>
                    </div>
                    <div class="pagination"></div>
                </div>
                <div class="swiper-outer-left fa fa-angle-left"></div>
                <div class="swiper-outer-right fa fa-angle-right"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-quote-partners">
                    <a href=""><img src="images/p1.png" alt=""></a>
                    <a href=""><img src="images/p2.png" alt=""></a>
                    <a href=""><img src="images/p3.png" alt=""></a>
                    <a href=""><img src="images/p4.png" alt=""></a>
                    <a href=""><img src="images/p5.png" alt=""></a>
                    <a href=""><img src="images/p6.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /////////////////////////////////////////////////////// -->
<div class="wheel-news  wheel-bg2 ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-header text-center marg-lg-t140 marg-lg-b90 marg-md-t50 ">
                    <h5>our Blog </h5>
                    <h3>the Latest <span>news </span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 padd-l0  padd-md-lr15">
                <div class="wheel-news-item   wheel-bg1">
                    <i class="">29 April</i>
                    <div class="wheel-news-item-img">
                        <img src="images/i8.jpg" alt="">
                    </div>
                    <div class="wheel-news-text">
                        <h5><a href="news-details.html">Monotonectally build distinctive convergence and an
                                attempt</a></h5>
                        <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad...
                        </p>
                        <a href="">Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wheel-news-item   wheel-bg1">
                    <i class="">29 April</i>
                    <div class="wheel-news-item-img">
                        <img src="images/i9.jpg" alt="">
                    </div>
                    <div class="wheel-news-text">
                        <h5><a href="news-details.html">Monotonectally build distinctive convergence and an
                                attempt</a></h5>
                        <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad...
                        </p>
                        <a href="">Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 padd-r0 padd-md-lr15">
                <div class="wheel-news-item   wheel-bg1">
                    <i class="">29 April</i>
                    <div class="wheel-news-item-img">
                        <img src="images/i10.jpg" alt="">
                    </div>
                    <div class="wheel-news-text">
                        <h5><a href="news-details.html">Monotonectally build distinctive convergence and an
                                attempt</a></h5>
                        <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad...
                        </p>
                        <a href="">Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////// -->
<div class="container ">
    <div class="row">
        <div class="col-md-6 padd-lr0">
            <div class="wheel-info-text2 marg-lg-t140 marg-lg-b150 marg-md-t100 marg-md-b50 ">
                <div class="wheel-header">
                    <h5>Did you know? </h5>
                    <h3>We’ll let you<span> Tow</span></h3>
                </div>
                <span>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                    Nam nec tellus a odio tincidunt auctor a ornare odio. </span>
                <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu
                    felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin
                    condimentum fermentum nunc. Etiam </p>
                <a href="" class="wheel-btn">Learn More</a>
            </div>
        </div>
        <div class="col-md-6 padd-lr0">
            <div class="wheel-info-video marg-lg-t150 marg-lg-b150 marg-md-t50 marg-md-b50">
                <iframe src="https://www.youtube.com/embed/dBlSHIBUx7g"></iframe>
            </div>
        </div>
    </div>
</div>


<!-- ////////////////////////////////////////////// -->
<div class="container padd-lr0">
    <div class="row">
        <div class="col-md-6 ">
            <div class="wheel-info-img  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100">
                <img src="images/i7.png" alt="" class="wheel-img">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="wheel-info-text  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100 marg-sm-t50 marg-sm-b50">
                <div class="wheel-header">
                    <h5>Who we are </h5>
                    <h3>We Love Our <span>Customers</span></h3>
                </div>
                <span>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                    Nam nec tellus a odio tincidunt auctor a ornare odio. </span>
                <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu
                    felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin
                    condimentum fermentum nunc. Etiam </p>
                <a href="" class="wheel-btn">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////// -->
<div class="wheel-deals text-center">
    <img src="images/bg2.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-header">
                    <h5>Be with us </h5>
                    <h3>We offers great <span>deals</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-deals-text">
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
                        vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio
                        tincidunt auctor a ornare odio.</p>
                    <a href="" class="wheel-btn">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</div>


###########
<!-- 


    <div class="row">
            <div class="col-lg-12 ">
                <div class="tabs">
                    <div class="tabs-content  marg-lg-b30">
                        <div class="tabs-item active ">
                            <div class="swiper-container" data-autoplay="0" data-touch="1" data-mouse="0"
                                data-xs-slides="2" data-sm-slides="2" data-md-slides="4" data-lg-slides="3"
                                data-add-slides="2" data-slides-per-view="responsive" data-speed="1000">
                                {% for car in cars%}
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="wheel-collection-item" data-name='{{car.car_name}}'
                                            data-carClass='{{car.car_type}}' data-price='${{car.cost_par_day}}'
                                            data-text='{{car.description}}' data-bags='{{car.Manufacturer}}'
                                            data-passenger='{{car.num_of_seats}} PASSENGERS' data-speed='{{car.Model}}'
                                            data-img="{{car.car_photo.url}}">
                                            <img src="{{car.car_photo.url}} " style="max-width: 100%;width: 100px;"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                                <div class="swiper-arrow-left fa fa-angle-left"></div>
                                <div class="swiper-arrow-right fa fa-angle-right"></div>
                                <div class="pagination"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 padd-lr0">
                <div class="wheel-collection-info">
                    <div class="wheel-collection-text">
                        <h4 class="car-name">{{cars.first.car_name}}</h4>
                        <span class="car-class">{{cars.first.car_type}}</span>
                        <h5><b>${{cars.first.cost_par_day}}<sup>00</sup></b>/Day</h5>
                        <p class="car-text"> {{cars.first.description}}</p>
                        <ul>
                            <li><i class="fa fa-suitcase"></i><span class="car-bags">{{cars.first.Manufacturer}}</span>
                            </li>
                            <li><i class="fa fa-user"></i><span class="car-passengers">{{cars.first.num_of_seats}}
                                    Passengers</span></li>
                            <li><i class="fa fa-tachometer"></i><span class="car-speed">{{cars.first.Model}}</span></li>
                        </ul>
                        <a href="" class="wheel-btn">View All rental Car</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 padd-lr0">
                <div class="wheel-collection-img"><img src="{{cars.first.car_photo.url}}" alt="" class="car-img"></div>
            </div>
        </div>
 -->