{% load static %}
<div class="wheel-menu-wrap ">
    <div class="container-fluid wheel-bg1">
        <div class="row">
            <div class="col-sm-3">
                <div class="wheel-logo">
                    <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-sm-9 col-xs-12 padd-lr0">
                <div class="wheel-top-menu clearfix">
                    <div class="wheel-top-menu-info">
                        <div class="top-menu-item"><a href=""><i class="fa fa-phone"></i>
                                <span>(+00) 1234 2431412</span></a></div>
                        <div class="top-menu-item"><a href=""><i
                                    class="fa fa-envelope"></i><span>contact@rentacar.com</span></a></div>
                    </div>
                    <div class="wheel-top-menu-log">
                        <div class="top-menu-item">
                            <div class="dropdown wheel-user-ico">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                    {% if not request.user.is_authenticated %}
                                    Account
                                    {%else%}

                                    {{request.user.username }}

                                    {%endif%}



                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">
                                    {% if not request.user.is_authenticated %}
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                    {%else%}
                                    <li><a href="{% url 'add_new_car' %}">Add a Car</a></li>
                                    <li><a href="{% url 'signout' %}">Signout</a></li>

                                    {%endif%}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 ">
                <div class="wheel-navigation">
                    <nav id="dl-menu">
                        <!-- class="dl-menu" -->
                        <ul class="main-menu dl-menu">
                            <li class="menu-item   current-menu-parent menu-item-has-children   active-color ">
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="menu-item   ">
                                <a href="{% url 'all_cars' %}">Available Cars</a>
                            </li>

                            <li class="menu-item   ">
                                <a href="{% url 'all_showrooms' %}">All Showrooms</a>
                            </li>
                            <li class="menu-item menu-item-has-children  ">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item "><a href="contact.html">contact</a></li>
                                    <li class="menu-item "><a href="register.html">Register</a></li>
                                    <li class="menu-item "><a href="checkout.html">Ceckout</a></li>
                                    <li class="menu-item "><a href="about.html">About</a></li>
                                    <li class="menu-item "><a href="shopping.html">shopping cart</a></li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Level 2</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="#">Level 3</a></li>
                                            <li class="menu-item"><a href="#">Level 3</a></li>
                                            <li class="menu-item"><a href="#">Level 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="nav-menu-icon"><i></i></div>
                    </nav>
                    <a href="{% url 'search_car'%}" class="wheel-cheader-but">Book a Car Now</a>
                </div>
            </div>
        </div>
    </div>
</div>